.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
inferencecore/__pycache__/*
__pycache__/server.cpython-38.pyc
inferencecore/__pycache__/__init__.cpython-38.pyc
inferencecore/__pycache__/clientcore.cpython-38.pyc
inferencecore/__pycache__/clientutils.cpython-38.pyc
inferencecore/__pycache__/imgutils.cpython-38.pyc
inferencecore/__pycache__/utils.cpython-38.pyc

__pycache__
server.log